<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

</head>
<body>


					<nav>
						<div class="nav-wrapper blue lighten-1">
						  <a href="dashboard" class="brand-logo" style='margin-left: 10px;'>Dashboard</a>
						  <ul id="nav-mobile" class="right hide-on-med-and-down">
							<li></li>
							<li><a href="logout" ><i class='fa fa-sign-out fa-2x'></i></a></li>
						  </ul>
						</div>
					</nav>
					<div class='row' '''+ style +'''>
						<div class='col-md-8 offset-2 text-center'>
							<h4 class='grey-text'>Results</h4>


<table id="userTable" 
data-url="results" 
data-show-refresh="true"
data-height="500"
data-search="true"
class='table'>
<thead>
<tr>
<th data-field="id" data-formatter="table.tools" data-width="0"></th>
<th data-field="BSSID">BSSID</th>
<th data-field="CIPHER">CIPHER</th>
<th data-field="ESSID">ESSID</th>
<th data-field="PASSWORD">PASSWORD</th>
<th data-field="WPS">WPS</th>
</tr>
</thead>
</table>


<script>
					var table = {};
					table.actions = {};
					table.actions.edit = function(id) { alert('default edit for id: ' + id); };
					table.actions.delete = function(id) { alert('default delete for id: ' + id); };
					table.role_formatter = function(value, row, index){return (value == 1)?"Administrator":"User";};
					table.tools = function(value, row, index){
						return "<a title='edit' class='btn btn-default grey darken-1 white-text' onclick='table.actions.edit("+value+");'><i class='fa fa-pencil'></i></a>"
							+ "<a title='remove' class='btn btn-danger grey darken-5 white-text' onclick='table.actions.delete("+value+");'><i class='fa fa-trash'></i></a>";
					};
					$(document).ready(function(){
						$("#userTable").bootstrapTable();
					});
				</script>


</body>
</html>